@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-darkmode: #141F2F;
    --bg-lightmode: #E3E7EE;
    --font-darkmode: #B7B7B7;
    --font-lightmode: #263956;
    --item-lightmode: #F7F5F5;
    --item-darkmode: #25273C;
    --check-lightmode: #D1D5DB;
    --check-darkmode: #182233;
}